.container {
    position: relative;
    left : 100px;
    width: 450px; 
}


#tes1{

    background-color: greenyellow;  
    height: 100px;
    width: 400px;

}

#tes2 {
    border: 5px solid;
    background-color: lightcyan;
    height: 100px;
    width: 400px;
}

#tes3 {
    background-color: greenyellow;
    height: 100px;
    width: 400px;

}


button.button1{
    background-color: aquamarine;
    
}

