@{
    //Latihan = "_LatihanLayout";
}

<div class="container">
        <div class="col1" id="tes1">Tes1</div>
        <div class="col2" id="tes2">Tes2</div>
        <div class="col4" id="tes4">Tes4</div>
</div>

<button onclick="ChangeColor()"> button 1</button>
<button onclick="ChangeText()"> button 2</button>
<button onclick="ChangeColorAndText()"> button 3</button>