@{
    //Latihan = "_LatihanLayout";
}

<div class="container">

    <div class="col" id="tes1">
        <p>Klik Tombol 1 untuk mengubah warna </p>
    </div>
    <button onclick="ChangeColor()"> button 1</button>

    <div class="col" id="tes2">
        <p>Klik tombol 2 untuk mengubah font</p>
    </div>
    <button onclick="ChangeTextAndFont()"> button 2</button>

    <div class="col" id="tes3">
        <p>Klik Tombol 3 untuk mengubah text dan site background</p>
    </div>
    <button onclick="ChangeBackgroundColorAndText()"> button3</button>
</div>

